<ul
  ref="masonryContainer"
  class="masonry">
  <li
    v-for="(image, idx) in images"
    :key="`masonry-image${idx}`"
    ref="masonryElement"
    class="masonry__item"
    :class="{'masonry__item--skeleton': !image.url}"
    @click="onItemClicked(image)"
  >
    <ui-lazy-invent
      v-if="image.url"
      class="ui-carousel__thumbnails__image"
      :alt="`${image.title}`"
      :src="image.url"
      :loadingHeight="image.height"
      :loadingWidth="image.width"
      @on-image-loaded="onImageLoaded($event, idx)"
    ></ui-lazy-invent>
  </li>
</ul>
