
<div :class="[
    'ui-profile-header',
    {
      'ui-profile-header--with-more-options': !areMoreOptionsHidden
    }
  ]">
  <component
    :is="hasProfileLink ? 'a' : 'span'"
    :href="hasProfileLink ? profileRoute : null"
    class="ui-profile-header__link"
    @click.capture="onClickProfile($event)"
  >
    <div class="ui-profile-header__image">
      <template v-if="showImage && !showInitials">
        <ui-lazy-invent
          class="lazy-container"
          :src="profileImage.url"
          :srcset="profileImage.srcSet"
          :alt="alt"
        />
      </template>
      <template v-if="showInitials">
        <span class="ui-profile-header__initials">{{ userInitials }}</span>
      </template>
    </div>
    <div class="ui-profile-header__info">
      <div
        class="ui-profile-header__info__main-text"
        :class="{
        'ui-profile-header__info__main-text--skeleton':
          !userName || userName === ''
      }"
      >{{ userName }}</div
      >
      <div
        v-if="!hideSecondaryInfo"
        class="ui-profile-header__info__secondary-text"
        :class="{
        'ui-profile-header__info__secondary-text--skeleton':
          !secondaryInfo || secondaryInfo === ''
      }"
      >
        {{ secondaryInfo }}
      </div>
    </div>
  </component>
  <div
    v-if="!areMoreOptionsHidden"
    class="ui-profile-header__more-options">
    <a
      href="#"
      class="ui-profile-header__more-options__link"
      @click="handleMoreOptions"
    >
      <i class="dots">
        {{ moreOptions }}
      </i>
    </a>
  </div>
</div>
