$no-fakes-icomoon-font-family: "NoFakes" !default;
$no-fakes-icomoon-font-path: "fonts" !default;

$nficon-travel: "\e924";
$nficon-library: "\e925";
$nficon-bakery: "\e926";
$nficon-fashion: "\e927";
$nficon-coffee: "\e928";
$nficon-sports: "\e929";
$nficon-fuel-station: "\e92a";
$nficon-gifts: "\e92b";
$nficon-restaurant: "\e92c";
$nficon-pets: "\e92d";
$nficon-drugstore: "\e92e";
$nficon-cinema: "\e92f";
$nficon-shopping-bag: "\e930";
$nficon-technology: "\e931";
$nficon-jewelry: "\e932";
$nficon-empty-website: "\e923";
$nficon-website: "\e922";
$nficon-empty-store: "\e921";
$nficon-gift: "\e91e";
$nficon-review: "\e91f";
$nficon-write: "\e920";
$nficon-no-fakes-logo: "\e91d";
$nficon-map-pin: "\e914";
$nficon-placeholder-20: "\e900";
$nficon-profile-32: "\e901";
$nficon-gift-home: "\e933";
$nficon-store-home: "\e934";
$nficon-ticket-home: "\e935";
$nficon-home: "\e902";
$nficon-check-circle-40: "\e903";
$nficon-star-active-40: "\e904";
$nficon-star-default-40: "\e905";
$nficon-chevron-left: "\e906";
$nficon-chevron-right: "\e907";
$nficon-arrow-left: "\e908";
$nficon-arrow-right: "\e909";
$nficon-close: "\e90a";
$nficon-profile-24: "\e90b";
$nficon-star-active-16: "\e90c";
$nficon-star-default-16: "\e90d";
$nficon-star-active-20: "\e90e";
$nficon-star-default-20: "\e90f";
$nficon-points: "\e910";
$nficon-info-20: "\e911";
$nficon-search: "\e912";
$nficon-store: "\e913";
$nficon-bell: "\e915";
$nficon-info-24: "\e916";
$nficon-headphones: "\e917";
$nficon-help: "\e918";
$nficon-camera: "\e919";
$nficon-placeholder-24: "\e91a";
$nficon-navigation: "\e91b";
$nficon-check-circle-24: "\e91c";

