
@mixin affrodance-velo-reset {
  &::after {
    content: none;
  }
}
@mixin affrodance-velo {
  &::after {
    background: rgba($background-inverse, .02);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: map-get($zindex, affrondance-velo);
  }
}
