$breakpoint-xs: 0 !default;
$breakpoint-s: 768px !default;
$breakpoint-m: 1024px !default;
$breakpoint-l: 1280px !default;
$breakpoint-xl: 1920px !default;
$breakPoints:(
  'xs': $breakpoint-xs,
  's': $breakpoint-s,
  'm': $breakpoint-m,
  'l': $breakpoint-l,
  'xl': $breakpoint-xl
);
