.wrapper {
  margin: 0 auto;
  //max-width: 1200px;
  max-width: (1208 / 16) + (2 * $spacing-size-4);
  padding: 0 $spacing-size-4;
  width: 100%;

  &--xs {
    @media (max-width: $breakpoint-s - 1px) {
      padding: 0 $spacing-size-4;
    }
  }

  &--s {
    @media (min-width: $breakpoint-s) {
      margin: 0 auto;
      //max-width: 1200px;
      max-width: (1208 / 16) + (2 * $spacing-size-4);
      padding: 0 $spacing-size-4;
      width: 100%;
    }
  }
}
