.b2-btn {
  &__highlight {
    @include set-semantic($semantic-highlight);

    &-reverse {
      @include set-semantic($semantic-highlight, true);
    }
  }

  &--icon {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0;
    margin: 0;
    &:focus {
      outline: transparent;
    }
  }
}
