.b2-btn {
  border-radius: $spacing-size-1;
  font-size: $font-size-3;
  line-height: $line-height-1;
  padding: $spacing-size-3 $spacing-size-1;
  text-align: center;

  &__highlight {
    @include set-semantic($semantic-highlight);

    &-reverse {
      @include set-semantic($semantic-highlight, true);

      &-disabled {
        &,
        &:hover {
          background-color: $black-20;
          border-color: $black-20;
          color: $black-50;
        }
      }
    }

    &-disabled {
      &,
      &:hover {
        color: $black-50;
        border-color: $black-50;
      }
    }
  }

  &--icon {
    background-color: transparent;
    border: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      outline: transparent;
    }
  }
}
