.ui-chip {
  &__container {
    overflow-x: auto;
    max-width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
  }

  @include body('s');

  border: 1px solid $black-100;
  border-radius: $font-size-4;
  color: $black-100;
  cursor: pointer;
  padding: $spacing-size-2 $spacing-size-4;
  transition: color .2s, background-color .2s;
  white-space: nowrap;

  & + & {
    margin-left: $spacing-size-2;
  }

  &--active {
    background-color: $black-100;
    color: $white;
  }
}
