.placeholder-image {
  position: relative;

  &--error {
    font-size: 35px;

    &::before {
      color: $black-100;
      content: $b2i-error-image;
      font-family: $icomoon-font-family;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  svg {
    display: block;
  }

  &--loading {
    height: 100%;
    width: 100%;
  }

  &__loader {
    animation: progress 1s ease-in-out infinite;
  }
}
