<div class="ui-scrollable-list__container">
  <div
    ref="tabContainer"
    :class="['ui-scrollable-list', {'ui-scrollable-list--scrollable': hasScroll}]"
  >
    <slot></slot>
  </div>
  <transition name="fade">
    <div
      v-if="hasScroll && !isMinScroll"
      class="ui-scrollable-list__scroll-helper ui-scrollable-list__scroll-helper--prev">
      <button
        class="ui-scrollable-list__button"
        @click="moveScrollLeft"
      ><i class="b2i-left"></i></button>
    </div>
  </transition>
  <transition name="fade">
    <div
      v-if="hasScroll && !isMaxScroll"
      class="ui-scrollable-list__scroll-helper ui-scrollable-list__scroll-helper--next">
      <button
        class="ui-scrollable-list__button"
        @click="moveScrollRight"
      ><i class="b2i-right"></i></button>
    </div>
  </transition>
</div>
