@font-face {
  font-family: 'b2icons';
  src:
    url('fonts/b2icons.ttf?eygklf') format('truetype'),
    url('fonts/b2icons.woff?eygklf') format('woff'),
    url('fonts/b2icons.svg?eygklf#b2icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b2i-"], [class*=" b2i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'b2icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b2i-billionhands:before {
  content: "\e900";
}
.b2i-heart:before {
  content: "\e901";
}
.b2i-profile:before {
  content: "\e902";
}
.b2i-search:before {
  content: "\e903";
}
.b2i-visual-search:before {
  content: "\e904";
}
.b2i-heart-active:before {
  content: "\e905";
}
.b2i-filters-active:before {
  content: "\e907";
  color: #fa5a5a;
}
.b2i-check:before {
  content: "\e908";
}
.b2i-close:before {
  content: "\e909";
}
.b2i-filters:before {
  content: "\e90a";
}
.b2i-down:before {
  content: "\e90b";
}
.b2i-info:before {
  content: "\e90c";
}
.b2i-left:before {
  content: "\e90d";
}
.b2i-circle:before {
  content: "\e90e";
}
.b2i-right:before {
  content: "\e90f";
}
.b2i-eye:before {
  content: "\e910";
}
.b2i-up:before {
  content: "\e911";
}
.b2i-camera:before {
  content: "\e913";
}
.b2i-menu:before {
  content: "\e915";
}
.b2i-share:before {
  content: "\e916";
}
.b2i-facebook:before {
  content: "\ea91";
}
.b2i-instagram:before {
  content: "\ea92";
}
.b2i-twitter:before {
  content: "\ea96";
}
.b2i-youtube:before {
  content: "\ea9d";
}
