@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?acshmk') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?acshmk') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="b2i-"], [class*=" b2i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b2i-facebook {
  &:before {
    content: $b2i-facebook;
  }
}
.b2i-instagram {
  &:before {
    content: $b2i-instagram;
  }
}
.b2i-twitter {
  &:before {
    content: $b2i-twitter;
  }
}
.b2i-youtube {
  &:before {
    content: $b2i-youtube;
  }
}
.b2i-billionhands {
  &:before {
    content: $b2i-billionhands;
  }
}
.b2i-profile {
  &:before {
    content: $b2i-profile;
  }
}
.b2i-search {
  &:before {
    content: $b2i-search;
  }
}
.b2i-visual-search {
  &:before {
    content: $b2i-visual-search;
  }
}
.b2i-check {
  &:before {
    content: $b2i-check;
  }
}
.b2i-close {
  &:before {
    content: $b2i-close;
  }
}
.b2i-down {
  &:before {
    content: $b2i-down;
  }
}
.b2i-info {
  &:before {
    content: $b2i-info;
  }
}
.b2i-left {
  &:before {
    content: $b2i-left;
  }
}
.b2i-circle {
  &:before {
    content: $b2i-circle;
  }
}
.b2i-right {
  &:before {
    content: $b2i-right;
  }
}
.b2i-eye {
  &:before {
    content: $b2i-eye;
  }
}
.b2i-up {
  &:before {
    content: $b2i-up;
  }
}
.b2i-camera {
  &:before {
    content: $b2i-camera;
  }
}
.b2i-menu {
  &:before {
    content: $b2i-menu;
  }
}
.b2i-share {
  &:before {
    content: $b2i-share;
  }
}

// OJITOOOOOO //
.b2i-heart {
  position: relative;
  &:before {
    content: $b2i-heart;
  }
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    content: $b2i-heart-active;
    transition: transform .2s;
    transform: scale(0);
    transform-origin: 50% 50%;
  }
  &--active {
    &:after {
      opacity: 1;
    }
  }
}
.b2i-filters {
  position: relative;
  &:before {
    content: $b2i-filters;
  }
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .2s;
    transform: scale(0);
    transform-origin: 82% 5%;
    content: $b2i-filters-active;
    color: $coral-80;
  }
  &--active {
    &:after{
      opacity: 1;
    }
  }
}

