$icomoon-font-family: "b2icons" !default;
$icomoon-font-path: "~@/assets/fonts/B2Icons/fonts" !default;

$b2i-facebook: "\ea91";
$b2i-instagram: "\ea92";
$b2i-twitter: "\ea96";
$b2i-youtube: "\ea9d";
$b2i-billionhands: "\e900";
$b2i-heart: "\e901";
$b2i-profile: "\e902";
$b2i-search: "\e903";
$b2i-visual-search: "\e904";
$b2i-heart-active: "\e905";
$b2i-filters-active: "\e907";
$b2i-check: "\e908";
$b2i-close: "\e909";
$b2i-filters: "\e90a";
$b2i-down: "\e90b";
$b2i-info: "\e90c";
$b2i-left: "\e90d";
$b2i-circle: "\e90e";
$b2i-right: "\e90f";
$b2i-eye: "\e910";
$b2i-up: "\e911";
$b2i-camera: "\e913";
$b2i-menu: "\e915";
$b2i-share: "\e916";

