$itemGap: 8px;

.masonry {
  display: grid;
  grid-gap: 0 $itemGap;
  //grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 25px;

  &__item {
    cursor: pointer;
    margin-bottom: $itemGap;
    position: relative;
    overflow: hidden;
    grid-row-end: span 11;

    &--skeleton {
      @include box-skeleton;
    }

    :deep .placeholder-image {
      height: unset;
    }
  }

  @media (min-width: $breakpoint-s) {
    $itemGap: 16px;

    grid-gap: 0 $itemGap;
    grid-template-columns: 1fr 1fr 1fr;

    &__item {
      margin-bottom: $itemGap;
      grid-row-end: span 10;
    }
  }

  @media (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__item {
      grid-row-end: span 7;
    }
  }

  @media (min-width: $breakpoint-l) {
    &__item {
      grid-row-end: span 9;
    }
  }
}
