@import "~@/assets/scss/_index.scss";
.sb-show-main {
  &.sb-main-padded {
    padding-left: 0;
    padding-right: 0;
  }
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.story-ui-carousel-container {
  width: 100vw;
  @media (min-width: $breakpoint-s) {
    width: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .col-container {
      flex-wrap: nowrap;
    }
  }

}

.story-product-card-containers {
  padding: 1rem;
  &--list {
    padding: 0;
  }
  .story-product-card {
    max-width: 1208px;
    margin: 0 auto;
    overflow-x: hidden;
    .list {
      .item {
        box-sizing: border-box;
        /deep/ {
          .ui-product-card {
            &__media {
              height: 56.91vw;
            }
          }
        }
      }
      @media (min-width: $breakpoint-s) {
        .item {
          /deep/ {
            .ui-product-card {
              &__media {
                height: 35.54vw;
                max-height: 355px;
              }
            }
          }
        }
      }
      @media (min-width: $breakpoint-m) {
        .item {
          /deep/ {
            .ui-product-card {
              &__media {
                height: 27.743vw;
              }
            }
          }
        }
      }
    }
  }
}
.story-search-input {
  padding: 1rem;
  max-width: 800px;
  width: 100%;
}

.story-ui-lazy-invent {
  width: 200px;
}

.story-ui-image-search {
  $width: 350px;
  max-width: $width;
  max-height: .9 * $width;

  .image-search,
  .image-search__bound-list,
  .image-search__selected-mark{
    width: $width !important;
    height: .9 * $width !important;
  }
}
