.ui-radio {
  $uiRadio: &;
  $radioBorderThickness: $spacing-size-0;
  $radioSize: $spacing-size-4 - (2 * $spacing-size-0);
  color: $black-100;
  line-height: $radioSize;
  position: relative;
  user-select: none;

  &:before {
    border: 1px solid $black-50;
    border-radius: 50%;
    content: '';
    display: block;
    height: $radioSize;
    left: 0;
    position: absolute;
    top: 0;
    transition: color .1s linear;
    width: $radioSize;
  }

  &:after {
    $tickSpacing: $spacing-size-1;
    background-color: $black-50;
    border-radius: 50%;
    content: '';
    display: block;
    height: $radioSize - $tickSpacing;
    left: math.div($tickSpacing, 2) + $radioBorderThickness;
    position: absolute;
    top: math.div($tickSpacing, 2) + $radioBorderThickness;
    transform: scale(0);
    transform-origin: center;
    transition: background-color .1s linear, transform .1s linear;
    width: $radioSize - $tickSpacing;
  }

  &--checked {
    &:before {
      border-color: $black-100;
    }

    &:after {
      background-color: $black-100;
      transform: scale(1);
    }
  }

  &--disabled {
    &:before {
      border-color: $black-20;
    }

    &:after {
      background-color: $black-20;
    }

    #{$uiRadio}__label {
      color: $black-50;
    }
  }

  &__button {
    cursor: pointer;
    height: $radioSize + (2 * $radioBorderThickness);
    line-height: 1rem;
    opacity: 0;
    vertical-align: top;
    width: $radioSize + (2 * $radioBorderThickness);
  }

  &__label {
    @include body('s');
    cursor: pointer;
    padding-left: $spacing-size-3 - (2 * $radioBorderThickness);
    vertical-align: top;
  }
}
