//WHITE
$white: #ffffff;

//BLACK
$black-10: #f7f7f7;
$black-20: #ededed;
$black-30: #e0e0e0;
$black-40: #cccccc;
$black-50: #b2b2b2;
$black-60: #999999;
$black-70: #737373;
$black-80: #4d4d4d;
$black-90: #333333;
$black-100: #191919;

//CORAL
$coral-10: #fdeded;
$coral-30: #fdbdbd;
$coral-60: #fc9c9c;
$coral-70: #fb7b7b;
$coral-80: #fa5a5a;

//LIGHTNING
$lightning-10: #faf2e1;
$lightning-30: #fae3af;
$lightning-60: #facb64;
$lightning-70: #fac44b;
$lightning-80: #fab823;

//EMERALD
$emerald-10: #def7ef;
$emerald-30: #5cd6ad;
$emerald-60: #29a37a;
$emerald-70: #248f6b;
$emerald-80: #1f7a5c;

//DODGE
$dodge-10: #edf5fd;
$dodge-30: #75b3f0;
$dodge-60: #1981e6;
$dodge-70: #1774cf;
$dodge-80: #1467b8;
