$fonts-path: '~@/assets/fonts' !default;

//FONTS
@font-face {
  font-display: fallback;
  font-family: 'Helvetica Now';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fonts-path}/Helvetica_Now_Text.otf') format('opentype');
}


@font-face {
  font-display: fallback;
  font-family: 'Helvetica Now Medium';
  font-style: normal;
  font-weight: normal;
  src: url('#{$fonts-path}/Helvetica_Now_Text_Medium.otf') format('opentype');
}

body {
  color: #FF5577 !important;
  font-family: 'Helvetica Now', serif;
}
