@use "sass:map";

//COMMON MIXINS
@mixin set-content-state($color, $background) {
  &:hover {
    @if ($color) {
      color: $black-80;
    }
    @if ($background) {
      background-color: $black-20;
    }
  }

  &:active {
    @if ($color) {
      color: $black-100;
    }
    @if ($background) {
      background-color: $black-30;
    }
  }

  &:disabled {
    @if ($color) {
      color: $black-50;
    }
    @if ($background) {
      background-color: $black-20;
    }
  }
}


// @include set-content($content-1,$background-3,$border-2)
@mixin set-content($color, $background, $border: false) {
  @include set-content-state($color, $background);

  background-color: $background;
  color: $color;

  @if ($border) {
    border: $border;
  }
}

// @include set-semantic()
@mixin set-semantic($theme, $reverse: false) {
  border: 1px solid map-get($theme, 'regular');
  @if ($reverse) {
    background-color: map-get($theme, 'regular');
    color: $white;

    &:hover {
      background-color: map-get($theme, 'hover');
      border: 1px solid map-get($theme, 'hover');
    }
  } @else {
    background-color: $white;
    color: map-get($theme, 'regular');

    &:hover {
      border: 1px solid map-get($theme, 'hover');
      color: map-get($theme, 'hover');
    }
  }
}


//TYPO MIXINS
@mixin typography-regular {
  font-family: $font-helvetica-regular;
  font-weight: $font-regular;
}

@mixin typography-medium {
  font-family: $font-helvetica-medium;
  font-weight: $font-medium;
}

@mixin detail ($type) {
  @include typography-regular;

  line-height: $line-height-1;

  @if ($type == 'upper') {
    font-size: $font-size-1;
    text-transform: uppercase;
  } @else if ($type == 'strike') {
    font-size: $font-size-1;
    text-decoration: line-through;
  } @else {
    font-size: $font-size-2;
  }
}

@mixin body ($size) {
  @include typography-regular;
  @if ($size == 'm') {
    font-size: $font-size-4;
    line-height: $line-height-2;
  } @else {
    font-size: $font-size-4;
    line-height: $line-height-2;
  }
}

@mixin button($type) {
  font-size: $font-size-3;
  line-height: $line-height-1;

  @if ($type == 'upper') {
    @include typography-medium;

    text-transform: uppercase;
  } @else {
    @include typography-regular;
  }
}

@mixin headers ($size) {
  @include typography-medium;
  @if ($type == 'm') {
    font-size: $font-size-4;
    line-height: $line-height-3;
  } @else if ($type == 'l') {
    font-size: $font-size-6;
    line-height: $line-height-3;
  } @else if ($type == 'xl') {
    font-size: $font-size-7;
    line-height: $line-height-4;
  } @else if ($type == 'xxl') {
    font-size: $font-size-9;
    line-height: $line-height-5;
  } @else {
    font-size: $font-size-3;
    line-height: $line-height-2;
  }
}


// Layout
@mixin getGridClasses($breakPointsGaps, $break-points){
  @each $bp,$bp_size in $break-points {
    @media(min-width:#{$bp_size}) {

      .col-container {
        margin-left: -1 * map-get($breakPointsGaps, $bp)/2;
        margin-right: -1 * map-get($breakPointsGaps, $bp)/2;
      }

      @for $col from 0 to 12 {
        .col-#{$col+1}--#{$bp} {
          width : percentage(1/12*($col+1));
          padding-left: map-get($breakPointsGaps, $bp)/2;
          padding-right: map-get($breakPointsGaps, $bp)/2;
        }
      }
    }
  }
}

//Grids:
/*
@media (min-width:0) {
	.col-container {
		margin-left: -4;
		margin-right: -4
	}
	.col-1--xs {
		width: 8.33333%;
		padding-left: 4;
		padding-right: 4
	}
	.col-2--xs {
		width: 16.66667%;
		padding-left: 4;
		padding-right: 4
	}
	.col-3--xs {
		width: 25%;
		padding-left: 4;
		padding-right: 4
	}
	.col-4--xs {
		width: 33.33333%;
		padding-left: 4;
		padding-right: 4
	}
	.col-5--xs {
		width: 41.66667%;
		padding-left: 4;
		padding-right: 4
	}
	.col-6--xs {
		width: 50%;
		padding-left: 4;
		padding-right: 4
	}
	.col-7--xs {
		width: 58.33333%;
		padding-left: 4;
		padding-right: 4
	}
	.col-8--xs {
		width: 66.66667%;
		padding-left: 4;
		padding-right: 4
	}
	.col-9--xs {
		width: 75%;
		padding-left: 4;
		padding-right: 4
	}
	.col-10--xs {
		width: 83.33333%;
		padding-left: 4;
		padding-right: 4
	}
	.col-11--xs {
		width: 91.66667%;
		padding-left: 4;
		padding-right: 4
	}
	.col-12--xs {
		width: 100%;
		padding-left: 4;
		padding-right: 4
	}
}

@media (min-width:768px) {
	.col-container {
		margin-left: -8;
		margin-right: -8
	}
	.col-1--s {
		width: 8.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-2--s {
		width: 16.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-3--s {
		width: 25%;
		padding-left: 8;
		padding-right: 8
	}
	.col-4--s {
		width: 33.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-5--s {
		width: 41.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-6--s {
		width: 50%;
		padding-left: 8;
		padding-right: 8
	}
	.col-7--s {
		width: 58.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-8--s {
		width: 66.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-9--s {
		width: 75%;
		padding-left: 8;
		padding-right: 8
	}
	.col-10--s {
		width: 83.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-11--s {
		width: 91.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-12--s {
		width: 100%;
		padding-left: 8;
		padding-right: 8
	}
}

@media (min-width:1024px) {
	.col-container {
		margin-left: -8;
		margin-right: -8
	}
	.col-1--m {
		width: 8.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-2--m {
		width: 16.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-3--m {
		width: 25%;
		padding-left: 8;
		padding-right: 8
	}
	.col-4--m {
		width: 33.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-5--m {
		width: 41.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-6--m {
		width: 50%;
		padding-left: 8;
		padding-right: 8
	}
	.col-7--m {
		width: 58.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-8--m {
		width: 66.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-9--m {
		width: 75%;
		padding-left: 8;
		padding-right: 8
	}
	.col-10--m {
		width: 83.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-11--m {
		width: 91.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-12--m {
		width: 100%;
		padding-left: 8;
		padding-right: 8
	}
}

@media (min-width:1280px) {
	.col-container {
		margin-left: -8;
		margin-right: -8
	}
	.col-1--l {
		width: 8.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-2--l {
		width: 16.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-3--l {
		width: 25%;
		padding-left: 8;
		padding-right: 8
	}
	.col-4--l {
		width: 33.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-5--l {
		width: 41.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-6--l {
		width: 50%;
		padding-left: 8;
		padding-right: 8
	}
	.col-7--l {
		width: 58.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-8--l {
		width: 66.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-9--l {
		width: 75%;
		padding-left: 8;
		padding-right: 8
	}
	.col-10--l {
		width: 83.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-11--l {
		width: 91.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-12--l {
		width: 100%;
		padding-left: 8;
		padding-right: 8
	}
}

@media (min-width:1920px) {
	.col-container {
		margin-left: -8;
		margin-right: -8
	}
	.col-1--xl {
		width: 8.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-2--xl {
		width: 16.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-3--xl {
		width: 25%;
		padding-left: 8;
		padding-right: 8
	}
	.col-4--xl {
		width: 33.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-5--xl {
		width: 41.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-6--xl {
		width: 50%;
		padding-left: 8;
		padding-right: 8
	}
	.col-7--xl {
		width: 58.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-8--xl {
		width: 66.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-9--xl {
		width: 75%;
		padding-left: 8;
		padding-right: 8
	}
	.col-10--xl {
		width: 83.33333%;
		padding-left: 8;
		padding-right: 8
	}
	.col-11--xl {
		width: 91.66667%;
		padding-left: 8;
		padding-right: 8
	}
	.col-12--xl {
		width: 100%;
		padding-left: 8;
		padding-right: 8
	}
}
*/
