//SPACING
$spacing-size-0: .0625 * $base-unit; // 1px
$spacing-size-1: .25 * $base-unit; // 4px
$spacing-size-2: .5 * $base-unit; // 8px
$spacing-size-3: .75 * $base-unit; // 12px
$spacing-size-4: $base-unit; // 16px
$spacing-size-5: 1.25 * $base-unit; // 20px
$spacing-size-6: 1.5 * $base-unit; // 24px
$spacing-size-7: 2 * $base-unit; // 32px
$spacing-size-8: 2.5 * $base-unit; // 40px
$spacing-size-9: 3 * $base-unit; // 48px
$spacing-size-10: 3.5 * $base-unit; // 56px
$spacing-size-11: 4 * $base-unit; // 64px
$spacing-size-12: 5 * $base-unit; // 80px
$spacing-size-13: 5.25 * $base-unit; // 84px

